html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    
    display: grid;
    grid-template-areas: 
    "nav" 
    "main"
    "footer";
    grid-template-rows: minmax(
        0,
    300px
    ) 1fr auto;
    grid-template-columns: 1fr;
}

nav#top_nav {
    * {
        box-sizing: border-box;
        text-decoration: none;
        text-align: center;

    }
    grid-area: nav;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    h1 {
        margin: 10px;
        color: white;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        li {
            text-align: center;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;
            padding: 14px 16px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: #ddd;
                color: black;
            }
        }
    }
}

main#main_content {
    grid-area: main;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

footer#footer {
    grid-area: footer;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}